*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.container{
    position: absolute;
}

.sky{
    position: absolute;
    height: 100vh;
    width: 10000vw;
    background: url(background.jpg) ;
    background-repeat: repeat-x;
    /* background-size: cover; */
    animation: sky linear 45s infinite;
}

.tree{
   
    height: 65vh;
    width: 101vw;
    background: url(trees.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: -13vh;
}

.track{
    
    height: 60vh;
    width: 10000vw;
    background: url(track.png) ;
    background-repeat: repeat-x;
    position: absolute;
    /* background-size: cover; */
    top: 50vh;

    animation: carMove linear 17s infinite;
}


.car{
    
    background: url(car_body.png) no-repeat;
    background-size: cover;
    position: absolute;
    height: 17vh;
    width: 29vw;
    top: 35vh;
    left: 30vw;
    animation: shake linear 0.3s infinite;
}

.car_wheel_left img{
    height: 11vh;
    width: 6vw;
    background: url(car_wheel_left.png) no-repeat;
    background-size: cover;
    position: relative;
    top: 7vh;
    left: 4vw;
    animation: wheelRun linear 0.3s infinite;
}

.car_wheel_right img{
    height: 10vh;
    width: 6vw;
    background: url(car_wheel_right.png) no-repeat;
    background-size: cover;
    position: relative;
    top: -4vh;
    left: 20vw;
    animation: wheelRun linear 0.3s infinite;
}


@keyframes wheelRun {
    100%{
transform: rotate(360deg);
    }
}

@keyframes carMove{
    100%{
        transform: translateX(-500vw);
    }
}

@keyframes sky{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shake{
    0%{
        transform: translateY(-0.2vw);
    }
    50%{
        transform: translateY(0.2vw);
    }
    100%{
        transform: translateY(-0.2vw);
    }
}

